.search{
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  Input{
    width: 200px;
    background-color: #efefef;
    font-size: 24px;
    border-radius: 10%;
  }
}
.order1{
  height: 200px;
  background-color: rgb(219, 148, 148);
  font-size: 24px;
}